* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #48e7eccb;
    color: white;
    height: 100vh;
  }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 48px;
    width: 100%;
    background-color: #6e6ee0;
  }
header.img {
  height: 100vh;
  width: 100vh;
}

form {
  background-color: aqua;
  color: gray;
}